<app-header></app-header>
<div class="cons container p-3" id="const">
    <div class="container-fluid display d-flex justify-content-between align-items-end">
        <button type="button" id="prods" (mouseover)="changeHeight('auto')" 
        (mouseleave)="changeHeight('510px')" (click)="prints()">
       <span class="icon-print"></span>  Imprimir Productos
     </button>
        <div class="prods">
            <span style="color: blueviolet;" class="icon-database">
            </span> Actualmente tienes <strong style="color: blueviolet;">{{ cont }}
            </strong> productos, en tu base de datos.
        </div>
    </div>
    <div class="dataQR" id="dataQR">
        <div class="box"  *ngFor="let a of dataQRExtract">
            <div class="QR" [id]="a.placa">
                CODE: {{createQRO(a.placa)}}<br>
            </div>
            <hr>
            <div class="data">
                Nombre: {{a.nombre}}<br>
                Placa: {{a.placa}}
            </div>
        </div>
    </div>
</div>