<div >
    <form id="fActivoFijo" class="actFijo">
        <div class="head mb-2"><strong><span class="icon-calendar">
            </span>Fechas y producto</strong>
        </div>

    <div class="groupA">
    <div class="img" *ngIf="Imagen">
        <img src="../../assets/prodDefecto/prod-defect.jpg" >
        <label id="imgBut" for="file">
            <span class="icon-camera"></span>
        </label>
        <input type="file" class="file" id="file">
    </div>
<!--FECHA INPUT INICIO-->
    <div class="inpDates">
        <div class="dataDates" *ngIf="FCrea">
            <label for="fechacrea">Fecha Creación:</label>
            <div class="d">
                <input type="date" id="fechacrea" class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>

        <div class="dataDates" *ngIf="FeInde">
            <label for="fecha Inicio de Depreciación">Fecha I. Depreciación:</label>
            <div class="d">
                <input type="date" id="fechaCompra"
                 class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>
        
        <div class="dataDates" *ngIf="FCompra">
            <label for="fechaCompra">Fecha Compra:</label>
            <div class="d">
                <input type="date" id="fechaCompra"
                 class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>

        <div class="dataDates" *ngIf="FMod">
            <label for="fechamod" > Fecha Modificación:</label>
            <div class="d">
                <input type="date" id="fechamod" 
                class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>

        <div class="dataDates" *ngIf="FFin">
            <label for="fechafin" >Fecha Final:</label>
            <div class="d">
                <input type="date" id="fechafin" class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>

        <div class="dataDates" *ngIf="Factual">
            <label for="fechafin">Fecha Actual:</label>
            <div class="d">
                <input type="date" id="fechafin" class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar"></span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>
        
        <div class="dataDates" *ngIf="FCust">
            <label for="fechafin">Fecha Custodio:</label>
            <div class="d">
                <input type="date" id="fechafin" class="input-control" value="{{ datenow }}">
                <div class="formato">
                    <span class="icon-calendar">                        
                    </span>
                     (dd/mm/yyyy)
                </div>
            </div>
        </div>

    </div>
<!--FECHA INPUT FIN-->
    </div>




    <div class="groupB mt-4">
<!--DATA INPUT INICIO-->
    <div class="inpData" *ngIf="Placa">
        <div class="dataDates" >
            <label for="fechacrea" title="Código Placa">Placa:</label>
            <div class="d">
                <input type="text" id="placa" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="CLase">
        <div class="Clase" >           
            <div class="d" id="clas" style="width: 100px;">
                <label for="_Clase" title="">Clase:</label>
                <input type="text" id="_Clase"
                       (keyup)="getDataCall()"
                       [(ngModel)]="_Class"
                       name="_Class"
                       class="input-control" >
            </div>
            <div class="d" id="clase" id="clas">
                <label for="_Clase" title="">
                    <span class="icon-key-1"></span></label>
                <input type="text" id="_ClaseB"
                 style="background-color: steelblue; color: white;"
                 readonly class="input-control"
                 [value]="_cRead">
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="CIUD">
        <div class="Clase" >           
            
            <div class="d" id="clas" style="width: 100px;">
                <label for="_ciu" title="">Ciudad:</label>
                <input type="text" id="_ciu"
                       class="input-control"
                       (keyup)="getDataCiudad()"
                       [(ngModel)]="_ciudClass"
                       name="_ciudClass">
            </div>

            <div class="d" id="clas">
                <label for="_Clase" title="">
                    <span class="icon-key-1"></span></label>
                <input type="text" id="_ClaseB"
                 style="background-color: steelblue;
                        color: white;"
                 readonly class="input-control"
                 [value]="_ciudRead">
            </div>

        </div>
    </div>

    <div class="inpData" *ngIf="NProd">
        <div class="dataDates" >
            <label for="_nProd" title="">Nombre Producto:</label>
            <div class="d">
                <input type="text" id="_nProd" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="Custodio">
        <div class="dataDates" >
            <label for="_cust" title="">Custodio:</label>
            <div class="d">
                <input type="text" id="_cust" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="Depart">
        <div class="dataDates" >
            <label for="_dep" title="">Departamento:</label>
            <div class="d">
                <input type="text" id="_dep" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="Serie">
        <div class="dataDates" >
            <label for="_ser" title="">Serie:</label>
            <div class="d">
                <input type="text" id="_ser" class="input-control" >
            </div>
        </div>
    </div>
    
    <div class="inpData" *ngIf="Valor">
        <div class="dataDates" >
            <label for="_val" title="">Valor:</label>
            <div class="d">
                <input type="text" id="_val" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="Activo">
        <div class="dataDates" >
            <label for="_actv" title="">Activo:</label>
            <div class="d">
                <input type="text" id="_actv" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData"  *ngIf="Referido">
        <div class="dataDates">
            <label for="_ref" title="">Referido:</label>
            <div class="d">
                <input type="text" id="_ref" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="USC">
        <div class="dataDates">
            <label for="_usc" title="">Usuario Creación:</label>
            <div class="d">
                <input type="text" id="_usc" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="USM">
        <div class="dataDates">
            <label for="_usm" title="">Usuario Modificación:</label>
            <div class="d">
                <input type="text" id="_usm" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="USF">
        <div class="dataDates">
            <label for="_usf" title="">Usuario Final:</label>
            <div class="d">
                <input type="text" id="_usf" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="GRP">
        <div class="dataDates">
            <label for="_group" title="">Grupo:</label>
            <div class="d">
                <input type="text" id="_group" class="input-control" >
            </div>
        </div>
    </div>
    
    <div class="inpData" *ngIf="MRC">
        <div class="dataDates">
            <label for="_mar" title="">Marca:</label>
            <div class="d">
                <input type="text" id="_mar" class="input-control" >
            </div>
        </div>
    </div>
    
    <div class="inpData" *ngIf="COLOR">
        <div class="dataDates">
            <label for="_col" title="">Color:</label>
            <div class="d">
                <input type="text" id="_col" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="PROV">
        <div class="dataDates">
            <label for="_prov" title="">Proveedor:</label>
            <div class="d">
                <input type="text" id="_prov" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="MODL">
        <div class="dataDates">
            <label for="_modl" title="">Modelo:</label>
            <div class="d">
                <input type="text" id="_modl" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="VUTL">
        <div class="dataDates">
            <label for="_vitl" title="">Vida Útil:</label>
            <div class="d">
                <input type="text" id="_vitl" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="VRES">
        <div class="dataDates">
            <label for="_vares" title="">Valor Residual:</label>
            <div class="d">
                <input type="text" id="_vares" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="CGAS">
        <div class="dataDates">
            <label for="_cGAS" title="">Cuenta de Gasto:</label>
            <div class="d">
                <input type="text" id="_cGAS" class="input-control" >
            </div>
        </div>
    </div>
    
    <div class="inpData" *ngIf="CDAN">
        <div class="dataDates">
            <label for="_cDan" title="">Cuenta de Depreciación Acumulada:</label>
            <div class="d">
                <input type="text" id="_cDan" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="CDAR">
        <div class="dataDates">
            <label for="_cDar" title="">Cuenta de Depreciación:</label>
            <div class="d">
                <input type="text" id="_cDan" class="input-control" >
            </div>
        </div>
    </div>

    <div class="inpData" *ngIf="VNOR">
        <div class="dataDates">
            <label for="_vNor" title="">Valor Normal:</label>
            <div class="d">
                <input type="text" id="_vNor" class="input-control" >
            </div>
        </div>
    </div>

    
    <div class="inpData" *ngIf="VREVAL">
        <div class="dataDates">
            <label for="vReval" title="">Valor de Revaluo:</label>
            <div class="d">
                <input type="text" id="vReval" class="input-control" >
            </div>
        </div>
    </div>

<!--DATA INPUT FIN-->
    </div>
         
    </form>
    <div class="btnSettings mt-4">
        <button class="btn btn-info" (click)="saveInterfaz()">
            <span class="icon-floppy" style="color: white;"></span>Guardar
        </button>
        <button class="btn btn-danger" (click)="porDefecto()">
            <span class="icon-cancel" style="color: white;"></span>Cancelar
        </button>
    </div>
</div>
