
.infoCont {
    width: 100%;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 5px;
}

.User {
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    border-radius: 3px;
    border: slategrey 0.5px solid;

}

.btnSearch {
    width: 25px;
    height: 25px;
    background-color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    transition: ease all 0.5s;
}

.btnSearch:hover {
    transition: ease all 0.5s;
    background-color: steelblue;
}

#actv {
    background-color: steelblue;
    color: white;
    width: 220px;
    height: 25px;
    border-top-left-radius: 5px;
    transition: ease all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

#ints {
    padding: 0px !important;
    color: white;
    padding-left: 10px !important;
    border-bottom: solid 1px white;
}

#actv:hover {
    background-color: rgb(94, 19, 216);
    color: #444444;    
    transition: ease all 0.5s;
}

.sem {
    width: 15px;
    height: 15px;
    border: solid 0.5px rgb(181, 181, 181);
    border-radius: 100%;
}

.sem:hover {
    transition: ease all 0.5s;
    box-shadow: 0px 0px 5px #444444;
}

#plInv {
    transition: ease all 0.5s;
}

#plInv:hover {
    transition: ease all 0.5s;
    color: steelblue;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
}

#reporteProdss {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1000000;
}

.inpts {
    border: none;
    border-bottom: solid 0.5px gray;
    background-color: transparent;
    font-size: 10pt;
    padding: 10px;
    color: steelblue;

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#imgTest {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}
#infoCont {
    height: auto;
    overflow-y: auto;
    scrollbar-color: rgb(92, 92, 92) #b3b3b3;
    scrollbar-width: 7px;
}

.note {
    font-size: 8pt;
    color: gray;
}

.teds {
    transition: ease all 0.5s;
    cursor: pointer;
}


.teds:hover {
    transition: ease all 0.5s;
    background-color: indigo;
    color: wheat;
}

.boxOptions {
    position: absolute;
    width: 250px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -125px;
    border: solid 1px white;
    overflow: auto;
    padding: 10px;
    background-color: whitesmoke;
    z-index: 1000000;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#cancel {
    cursor: pointer;
    float: right;
}

th, td {
    padding: 5px !important;
}

/* .tdDiv {
    display: flex;
    align-items: center;
} */

.input-control {
    color: white;
}


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

#infoContr::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

#infoCont::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Cambiamos el fondo cuando esté en active */

#infoCont::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.div-conj {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.impts {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 15px;
}

.radio {
    display: flex;
    justify-content: stretch;
    transition: ease all 1s;
}

.radio:hover {
    cursor: pointer;
    transition: ease all 1s;
    background-color: rgb(218, 218, 218);
}

.input-control-radio {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#rightDir {
    cursor: pointer;
    transition: ease all 0.5s;
    height: 25px;
    width: 25px;
}


.edi {
    transition: ease all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.edi:hover {
    transition: ease all 0.5s;
    background-color: purple;
    color: white;
}

.modal-lg {
    max-width: 95% !important;
}

#placaByCodec {
    transition: ease all 0.5s;
    cursor: pointer;
}


#placaByCodec:hover {
    transition: ease all 0.5s;
    color: purple;
    text-decoration: underline;
}

#rightDir:hover {
    transition: ease all 0.5s;
    font-size: 12pt;
    background-color: steelblue;
    color: wheat;
    border-radius: 100%;
}

input {
    border: none;
    border-bottom: solid 0.5px gray;
    background-color: transparent;
    width: 100%;
}

.formato {
    background-color: #b1b1b1;
    border: solid 1px rgb(143, 143, 143);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* padding: 10px; */
    width: 156px;
    font-size: 9pt;
}

label {
    margin-bottom: 0px;
}

.d {
    display: flex;
}

.dates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form {
    width: 100%;
}

#CodActivC {
    width: 150px;
}

.dataDates {
    width: 45%;
}

#CodActivAD {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imptsB {
    width: 48%;
}

.imptsC {
    width: 23%;
}

#Clase {
    width: 120px;
}

.dataQR {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 510px;
    background-color: whitesmoke !important;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 7px;
    font-size: 8pt;
    padding: 10px;
    overflow-y: scroll;
}

.cons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.el {
    width: 100px;
    height: auto;
    border-radius: 5px;
    border: solid 0.5px gray;
    border-style: dashed;
    padding: 10px;
}

#prods {
    border: none;
    background-color: steelblue;
    color: white;
    border-top-right-radius: 5px;
    padding: 7px;
    transition: ease all 0.5s;
}

#prods:hover {
    transition: ease all 0.5s;
    background-color: blueviolet;
}

.erease{
    color: orangered;
    transition: ease all 2s;
}



.erease:hover{
    color: red;
    transition: ease all 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .impts {
        width: 100%;
    }
    .infoCont {
        background-color: white;
    }
    .dataDates {
        width: 100%;
    }
    .imptsB {
        width: 100%;
    }
    .imptsC {
        width: 100%;
    }
    #CodActivC {
        width: 100%;
    }
    #subA {
        width: 100%;
        margin-bottom: 10px;
    }
    #CodActivAD {
        flex-direction: column;
        margin-top: 10px;
    }
    #CodActivAE {
        width: 100%;
    }
    #clase {
        width: 100%;
    }
}
