<app-header></app-header>


<div class="container mt-4 " style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">

    <div class="dataDates mt-3 mb-4 ">

        <label for="fechaInit">Fecha Inventario:</label>
        <div class="d">
            <input type="date" id="fechaInit" class="input-control" value="{{ datenow }}">
            <div class="formato">
                <span class="icon-calendar"></span> (dd/mm/yyyy)
            </div>
        </div>
    </div>
    <div class="User" style="text-align: right;">
        <strong>Usuario: </strong> {{user}}<br>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cod. Placa</th>
                <th scope="col">Descripción</th>
                <th scope="col">Custodio</th>
                <th scope="col">Departamento</th>
                <th scope="col" title="Eliminar informe"><span class="icon-trash"></span></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of arrInv">
                <td>{{a.placaInv}}</td>
                <td>{{a.descripInv}}</td>
                <td>{{a.custodio}}</td>
                <td> {{a.ciudad}} / {{a.campoA}}</td>
                <td (click)="delRepo(a.id)" title="Eliminar informe" class="erease"><span class="icon-trash"></span></td>
            </tr>
        </tbody>
    </table>

    <button type="button" id="prods" (click)="prints()"><span class="icon-print"></span>Imprimir Reporte</button>
</div>
