.hi {
    background-color: #444444;
    color: white;
    padding: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    justify-content: space-between;
}

#off {
    color: steelblue;
    transition: ease all 0.5s;
}

#off:hover {
    color: rgb(255, 187, 0);
    transition: ease all 0.5s;
    cursor: pointer;
}