.hi {
    background-color: #444444;
    color: white;
    padding: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    justify-content: space-between;
}

#off {
    color: steelblue;
    transition: ease all 0.5s;
}

header {
    background-color: steelblue;
    color: white;
}

#off:hover {
    color: rgb(255, 187, 0);
    transition: ease all 0.5s;
    cursor: pointer;
}

li {
    transition: ease all 1.5s;
    opacity: 0.7;
    transform: scale(0.8, 0.8);
}

li:hover {
    opacity: 1;
    transform: scale(1, 1);
    transition: ease all 0.5s;
    background-color: rgb(206, 206, 206);
}
