.trPointer {
    transition: ease all 0.5s;
    cursor: pointer;
}

.trPointer:hover {
    background-color: #444444;
    color: rgb(200, 254, 114);
    transition: ease all 0.5s;
}

.esData {
    color: rgb(132, 172, 213);
    font-size: 14pt;
}

.invName {
    background-color: #444444;
    padding: 15px;
    color: white;
    font-size: 9pt;
}

.thPlaca {
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: ease all 0.5s;
}

.thPlaca:hover {
    background-color: #444444;
    transition: ease all 0.5s;
}

.contImg {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.955);
}

.cancel {
    background-color: orangered;
    color: white;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    /* float:right; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: ease all 0.5s;
}

.evaluo {
    background-color: #66be2b;
    cursor: pointer;
    transition: ease all 0.5s;
}

#headTitle {
    /* padding: 5px; */
    background-color: seagreen;
    color: whitesmoke;
    position: absolute;
    margin-top: -125px;
    left: 10px;
    font-size: 9pt;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 28px;
}

.messageAnexo {
    background-color: whitesmoke;
    position: absolute;
    width: 300px;
    height: 600px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btnClose {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 0px;
    position: fixed;
    z-index: 100000;
    top: 0px;
    margin-left: 270px;
}

.boxAnexos {
    display: flex;
}

#headTitleDataAnexo {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contsNewData {
    margin: 0px;
    background: rgb(43, 40, 51);
    background: linear-gradient(0deg, rgba(43, 40, 51, 0.8337710084033614) 0%, rgba(28, 25, 37, 1) 24%, rgba(24, 21, 33, 1) 51%, rgba(26, 23, 36, 1) 78%, rgba(35, 32, 46, 0.6012780112044818) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.inputsEval {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.buttons {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: stretch;
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.inpts {
    width: 40%;
}

.inptsn {
    width: 8%;
}

input {
    width: 100%;
}

@media screen and (max-width: 350px) {
    .inpts {
        width: 100%;
    }
    input {
        width: 100%;
    }
    #headTitle {
        margin-top: -175px;
    }
    .inptsn {
        width: 100%;
    }
}

.btnSetts {
    width: 50%;
}

#btns {
    width: 100%;
}

#btnc {
    width: 100%;
}

.evaluo:hover {
    transition: ease all 0.5s;
    background-color: #2b88be;
    cursor: pointer;
}

.contsHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: ease all 0.5s;
}

#invHead {
    background-color: rgb(54, 165, 42);
    transition: ease all 0.5s;
}

#invHead:hover {
    background-color: #444444;
    transition: ease all 0.5s;
}

.cancel:hover {
    transition: ease all 0.5s;
    background-color: #444444;
}

.headMod {
    display: flex;
    justify-content: space-between;
}
