<app-header></app-header>

<div class="container mt-3">
    <div class="infoCont" style="height: 530px;" id="infoCont" *ngFor="let e of productByPlaca">
        <form>
            <div class="dates">
                <div class="dataDates">
                    <label for="fechaInit">Fecha Compra:</label>
                    <div class="d">
                        <input type="date" id="fechaInit" class="input-control" value="{{ datenow }}">
                        <div class="formato">
                            <span class="icon-calendar"></span> (dd/mm/yyyy)
                        </div>
                    </div>
                </div>
                <div class="dataDates">
                    <label for="fechaDepre">Fecha Depreciar:</label>
                    <div class="d">
                        <input type="date" id="fechaDepre" class="input-control" value="{{ datenow }}">
                        <div class="formato">
                            <span class="icon-calendar"></span> (dd/mm/yyyy)
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="impts" id="CodActivAA">
                    <label for="CodActiv">Cod. Activo:</label>
                    <input type="text" class="input-control" id="CodActivA" value="{{e.custodio}}">
                </div>
                <div class="impts" id="CodActivAB">
                    <label for="CodActiv">Cod. Barra:</label>
                    <input type="text" class="input-control" id="CodActivB" value="{{e.barra}}">
                </div>
                <div class="impts" id="CodActivAC">
                    <label for="CodActiv">Cod. descripción:</label>
                    <input type="text" [(ngModel)]="invPlaca" name="invPlaca" class="input-control" value="{{e.placa}}" id="CodActivC" value="">
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="imptsB" id="CodActivB-1">
                    <label for="CodActiv">Descripción:</label>
                    <textarea class="form-control" [(ngModel)]="invNombre" name="invNombre" style="color: green;" value="{{e.nombre}}" rows="2" id="CodActivA" aria-label="With textarea"></textarea>
                </div>
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="CodActiv">Grupo Activo:</label>
                        <input type="text" class="input-control" id="CodActivC">
                    </div>
                    <input type="text" class="input-control" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="CodActiv">Modelo:</label>
                        <input type="text" class="input-control" value="{{e.marca}}" id="CodActivC">
                    </div>
                    <input type="text" class="input-control" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="CodActiv">Marca:</label>
                        <input type="text" class="input-control" value="Test Marca" id="CodActivC">
                    </div>
                    <input type="text" class="input-control" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="imptsC">
                    <label for="CostActiv">Costo Activo:</label>
                    <input type="number" class="input-control" value="{{e.valor}}" id="CostActivA">
                </div>
                <div class="imptsC">
                    <label for="Rev">Revalor:</label>
                    <input type="number" class="input-control" value="{{e.vaL_REVAL}}" id="Rev">
                </div>
                <div class="imptsC">
                    <label for="vutil">Vida Útil:</label>
                    <input type="number" class="input-control" value="{{e.vidautil}}" id="vutil">
                </div>
                <div class="imptsC">
                    <label for="vres">% Valor Residual:</label>
                    <input type="number" class="input-control" value="{{e.valres}}" id="vres">
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="Custodio">Custodio:</label>
                        <input type="text" value="{{e.custodio}}" class="input-control" id="Custodio">
                    </div>
                    <input type="text" class="input-control" value="Nombre Custodio TEST" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
                <div class="dataDates">
                    <label for="fechaDepre">Fecha Custodio:</label>
                    <div class="d">
                        <input type="date" id="fechaDepre" [(ngModel)]="dateInv" name="dateInv" class="input-control" value="{{ datenow }}">
                        <div class="formato">
                            <span class="icon-calendar"></span> (dd/mm/yyyy)
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="CodActiv">Ciudad:</label>
                        <input type="text" class="input-control" value="{{e.ciudad}}" id="CodActivC">
                    </div>
                    <input type="text" class="input-control" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
                <div class="imptsB" id="CodActivAD">
                    <div id="subA">
                        <label for="CodActiv">Departamento:</label>
                        <input type="text" class="input-control" id="CodActivC" value="{{e.grupo}}">
                    </div>
                    <input type="text" class="input-control" value="Dep. Test" readonly style="background-color: rgba(10,105,250,0.3);">
                </div>
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="impts" id="CodActivAA">
                    <label for="nSerie">Número de Serie:</label>
                    <input type="text" class="input-control" id="nSerie">
                </div>
                <div class="impts" id="CodActivAB">
                    <label for="refer">Referencia:</label>
                    <input type="text" class="input-control" value="{{e.refer}}" id="refer">
                </div>
                <!-- check box inicio -->
                <div class="impts" id="CodActivAC">
                    Activo:
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="invTrue" name="invTrue" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                        <span class="icon-ok"></span> Si
                    </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" [(ngModel)]="invFalse" name="invFalse" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                      <span class="icon-cancel"></span> No
                    </label>
                    </div>
                </div>
                <!-- check box fin -->
            </div>
            <hr class="hr mt-3 mb-3">
            <div class="div-conj">
                <div class="impts" id="CodActivAA">
                    <label for="nSerie">Cuenta de Gastos:</label>
                    <input type="text" value="" class="input-control" id="nSerie">
                </div>
                <div class="impts" id="CodActivAB">
                    <label for="refer">Cta. Depre. Acum. Normal:</label>
                    <input type="text" value="" class="input-control" id="refer">
                </div>
                <div class="impts" id="CodActivAC">
                    <label for="refer">Cta. Depre. Acum. Revalor:</label>
                    <input type="text" value="" class="input-control" id="refer">
                </div>
            </div>
            <hr class="hr mt-3 mb-4">
            <div class="btnSettings">
                <a href="https://play.google.com/store/apps/details?id=com.gamma.scan" class="btn btn-info mb-5"><span class="icon-floppy"></span> Guardar y seguir</a>
                <button class="btn btn-danger mb-5" (click)="reporte()"><span class="icon-cancel"></span> Terminar Inventario</button>
            </div>
        </form>
    </div>
</div>