<app-header></app-header>

<div class="cont container-fluid">

    <div class="Interfaz-conf ">
        <strong><span class="icon-eye" style="color: gray;"></span>Modificar entrada de datos.</strong>
        <p class="text text-info" style="font-size: 7pt;">
        <span class="icon-warning" style="color: steelblue;"></span>
        Realizar estos cambios tendrà efecto tanto en el formulario de ingreso de activos fijos y el de toma de inventario.
        <hr>
        <form id="form">
            <div class="form-group">
              <label for="placa"><span id="splaca" class="icon-tag"></span> Placa</label>
              <input type="range" min="{{minRange}}" max="{{maxRange}}" 
               class="form-control-range" [ngModel]="_placa" name="_placa">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="clase"><span id="sclase" class="icon-tag"></span> Clase</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_clase" name="_clase">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="nombre" title="Nombre del Producto"><span id="snombre" class="icon-tag"></span> N. Prod.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_nombre" name="_nombre">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="custodio"><span id="scustodio" class="icon-tag"></span> Custodio</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_custodio" name="_custodio">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group" title="Departamento">
                <label for="dpto"><span id="sdpto" class="icon-tag"></span> Dpto.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                  class="form-control-range" [ngModel]="_dpto" name="_dpto">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="serie"><span id="sserie" class="icon-tag"></span> Serie.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_serie" name="_serie">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="valor"><span id="svalor" class="icon-tag"></span> Valor.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_valor" name="_valor">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="activo"><span id="sactivo" class="icon-tag"></span> Activo.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range"  [ngModel]="_activo" name="_activo">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="refer"><span id="srefer" class="icon-tag"></span> Referido.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 (input)="refers = $event.target.value"
                 class="form-control-range"  [ngModel]="_refer" name="_refer">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group" >
                <label for="fec" title="Fecha Actual">
                    <span id="sfac" class="icon-tag"></span> Fecha Ac.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="fActual = $event.target.value" id="_fac"
                (change)="fac('sfac')"
                class="form-control-range" [ngModel]="_fac" name="_fac">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="usuc"  title="Usuario creación"><span id="susuc" class="icon-tag"></span> User C.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_usuc" name="_usuc">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fmod" title="Fecha Modifcación"><span id="sfmod" class="icon-tag"></span> Fecha M.</label>
                <input type="range" min="{{minRange}}" max="{{maxRange}}"
                (input)="fMod = $event.target.value" id="_feMod"
                (change)="feMod('sfmod')"
                class="form-control-range" [ngModel]="_fmod" name="_fmod">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="usm" title="Usuario Modifcación"><span id="susm" class="icon-tag"></span> User M.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" [ngModel]="_usm" name="_usm">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="ffin" title="Fecha fin"><span id="sffin" class="icon-tag"></span> Fecha F.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                (input)="fecFin = $event.target.value" id="_feFin"
                (change)="feFin('sffin')"
                 class="form-control-range" [ngModel]="_ffin" name="_ffin">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="ufin" title="Usuario final"><span id="sufin" class="icon-tag"></span> User F.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" value="{{rValue}}" [ngModel]="_ufin" name="_ufin">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="grupo" ><span id="sgrupo" class="icon-tag"></span> Grupo.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" value="{{rValue}}" [ngModel]="_grupo" name="_grupo">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="marca" title="Marca del producto"><span id="sgrupo" class="icon-tag"></span> Marca.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" value="{{rValue}}" [ngModel]="_marca" name="_marca">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="color" title="Color del producto"><span id="scolor" class="icon-tag"></span> Color.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" value="{{rValue}}" [ngModel]="_color" name="_color">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fc" title="Fecha de Creación"><span id="sfc" class="icon-tag"></span> Fecha C.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                (input)="feCreac = $event.target.value" id="_feCrea"
                (change)="feCrea('sfc')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_fc" name="_fc">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="prov" title="Proveedor"><span id="sprov" class="icon-tag"></span> Pvdor.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_prov" name="_prov">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="mp" title="Modelo del producto"><span id="smp" class="icon-tag"></span> Modelo.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_mp" name="_mp">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="vut" title="Vida útil del producto"><span id="svut" class="icon-tag"></span> V. Útil.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vut" name="_vut">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="vre" title="Valor residual del producto">
                    <span id="svre" class="icon-tag"></span> V. Resi.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vre" name="_vre">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="finc" title="Fecha de inicio">
                    <span id="sfinc" class="icon-tag"></span> Fecha In.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_finc" name="_finc">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fcu" title="Fecha Custodio">
                    <span id="sfcu" class="icon-tag"></span> Fecha Co.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" id="_fCust"
                (input)="feCusto = $event.target.value"
                (change)="feCust('sfcu')"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_fcu" name="_fcu">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="cgas" title="Cuenta de gastos"><span id="scgas" class="icon-tag"></span> C. Gasto.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_cgas" name="_cgas">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="cdan" title="Cuenta de depreciación acumulada"><span id="scdan" class="icon-tag"></span> C. Dan.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}" 
                 class="form-control-range" value="{{rValue}}" [ngModel]="_cdan" name="_cdan">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="cdar" title="Cuenta de depreciación"><span id="scdar" class="icon-tag"></span> C. Dar.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_cdar" name="_cdar">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for="vnor" title="Valor normal"><span id="svnor" class="icon-tag"></span> V. Normal.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vnor" name="_vnor">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="vrev" title="Valor Revaluo"><span id="svrev" class="icon-tag"></span> V. Reval.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_vrev" name="_vrev">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
            <div class="form-group">
                <label for="img" title="Valor Revaluo"><span id="simg" class="icon-tag"></span> Imagen.</label>
                <input type="range"  min="{{minRange}}" max="{{maxRange}}"
                 class="form-control-range" value="{{rValue}}" [ngModel]="_img" name="_img">
                <div class="sin">
                    <span class="icon-cancel">No</span>
                    <span class="icon-ok">Si</span>
                </div>
            </div>
        </form>
        <div class="btnSettings">
            <button class="btn btn-info" (click)="saveInterfaz()">
                <span class="icon-floppy" style="color: white;"></span>Guardar
            </button>
            <button class="btn btn-success" (click)="porDefecto()">
                <span class="icon-ccw" style="color: white;"></span>Por defecto
            </button>
        </div>       
    </div>
    <div class="viewForm">
       <p class="note mb-2">Previsualización final para el formulario de ingreso de activo fijo:</p>
       <app-activo-fijo style="width: 100%;"
        [Factual]="fActual"
        [FMod]="fMod"
        [FFin]="fecFin"
        [FCrea]="feCreac"
        [FCust]="feCusto"></app-activo-fijo>

    </div>

</div>
