<app-header></app-header>

<div class="cont container">

    <div class="Interfaz-conf ">
        <strong><span class="icon-eye"></span>Modificar entrada de datos.</strong>
        <p class="text text-info" style="font-size: 7pt;">
        <span class="icon-warning"></span>
        Realizar estos cambios tendrà efecto tanto en el formulario de ingreso de activos fijos y el de toma de inventario.
        <hr>
        <form>
            <div class="form-group">
              <label for="placa"><span class="icon-tag"></span> Placa</label>
              <input type="range" min="0" max="1" class="form-control-range" id="placa">
                <div class="sin">
                <span class="icon-ok">Si</span>
                <span class="icon-cancel">No</span>
                </div>
            </div>
            <div class="form-group">
                <label for="clase"><span class="icon-tag"></span> Clase</label>
                <input type="range" min="0" max="1" class="form-control-range" id="clase">
                <div class="sin">
                    <span class="icon-ok">Si</span>
                    <span class="icon-cancel">No</span>
                </div>
            </div>
            <div class="form-group">
                <label for="clase"><span class="icon-tag"></span> Nombre</label>
                <input type="range" min="0" max="1" class="form-control-range" id="clase">
                <div class="sin">
                    <span class="icon-ok">Si</span>
                    <span class="icon-cancel">No</span>
                </div>
            </div>
            <div class="form-group">
                <label for="clase"><span class="icon-tag"></span> Custodio</label>
                <input type="range" min="0" max="1" class="form-control-range" id="clase">
                <div class="sin">
                    <span class="icon-ok">Si</span>
                    <span class="icon-cancel">No</span>
                </div>
            </div>
            <div class="form-group" title="Departamento">
                <label for="clase"><span class="icon-tag"></span> Dpto.</label>
                <input type="range" min="0" max="1" class="form-control-range" id="clase">
                <div class="sin">
                    <span class="icon-ok">Si</span>
                    <span class="icon-cancel">No</span>
                </div>
            </div>
        </form>
    </div>
    <div class="viewForm">
        <div class="formV"></div>
    </div>

</div>
